body
{
    background-color: rgba(253, 100, 243, 0.911);
}
h1
{
    color: rgb(255, 224, 205);
    background-color: rgb(127, 219, 255);
}
#showsketch
{
    float: right;
}
canvas
{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: eg;
    animation-duration: 5s;
    margin-top: 100px;
    animation-iteration-count: infinite;
   animation-direction: alternate-reverse;
}
@keyframes eg{
    from{box-shadow: 15px 10px 20px aqua;}
    to{box-shadow: 15px 10px 20px rgb(118, 103, 255);}
}
p{
    padding-top: 10px;
    font-size: 20px;
}
aarav{
    margin-bottom:  20px; 
}